body {
    background-color: #746858;
}

.about-us-image {
    width: 100%;
    height: 513px;
    object-fit: cover;
    filter: brightness(0.5);
}

/* .about-us-container {
    height: 1100px;
} */

.about-us-boxes {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    margin-left: 60px;
}

.about-us-single-box {
    width: 300px;
    height: 200px;
    left: 89px;
    border: 1px solid black;
}

.about-us-single-box-round {
    width: 284px;
    height: 300px;
    border-radius: 50%;
    left: 89px;
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .about-us-single-box {
        width: 525px;
        height: 249px;
    }

    .about-us-single-box-round {
        width: 384px;
        height: 400px;
    }
}
