@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fbf3e9;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccb6;
}

.session-message {
    font-size: 18px;
    font-family: "Raleway";
    z-index: 3;
    background-color: #fbf3e9;
    padding: 10px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}

.filler-item {
    grid-area: filler;
    width: 100px;
}

.item3 {
    grid-area: booked;
    border: 2px solid #dcccb6;
    margin: 50px;
}

.item4 {
    grid-area: notbooked;
    border: 2px solid #dcccb6;
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked"
        "notbooked"
        "filler";

    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

h2 {
    font-size: 20px;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 10px;
    background-color: #fbf3e9;
}

label {
    font-size: 14px;
    font-family: "Raleway";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yogaclasses-heading {
    font-family: "Raleway Light";
    font-size: 24px;
    margin-bottom: 10px;
}

.adminpanel-button {
    background-color: #c27b49;
    border: none;
    color: rgb(232, 232, 224);
    font-size: 14px;
    font-family: "Raleway";
    padding: 5px 10px;
    border-radius: 5px;
}

.membership-item {
    background-color: #fbf3e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Gotu";
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "header header header header header header"
            "menu filler notbooked notbooked booked booked";
    }

    .item2 {
        margin-top: 45px;
        width: 220px;
    }
    .item3 {
        height: 500px;
        overflow-y: scroll;
    }
}
