@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

.item1 {
    grid-area: header;
}
.item2 {
    grid-area: menu;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}
.item5 {
    grid-area: footer;
}
.item3-header {
    grid-area: booked-header;
}
.item4-header {
    grid-area: notbooked-header;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked-header"
        "main"
        "notbooked-header"
        "right";
    gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    padding-top: 50px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

h2 {
    font-size: 10px;
}

/* .yogaclasses {
    width: 300px;
    border: 1px solid #dcccb6;
}

.booked-yogaclasses {
    width: 300px;
    border: 1px solid #dcccb6;
} */

@media screen and (min-width: 1040px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "menu header header header header"
            "menu booked-header booked-header notbooked-header notbooked-header"
            "menu main main right right";
        gap: 10px;
        background-color: #2196f3;
        padding: 10px;
        padding-top: 50px;
    }

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
}
