body {
    margin: auto;
    display: flex;
}

.yogaclasses {
    width: 300px;
    border: 1px solid #dcccb6;
}

.booked-yogaclasses {
    width: 300px;
    border: 1px solid #dcccb6;
}

.overview {
    display: flex;
}

.dashboard-body {
    margin-top: 100px;
}
