@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fbf3e9;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccb6;
}

.dashboard-body {
    background-color: white;
}

.session-message {
    font-size: 18px;
    font-family: "Raleway";
    z-index: 3;
    background-color: #fbf3e9;
    padding: 10px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}

.filler-item {
    grid-area: filler;
    width: 100px;
}

.item3 {
    grid-area: booked;
    border: 2px solid #dcccb6;
    margin: 50px;
}

.item4 {
    grid-area: notbooked;
    border: 2px solid #dcccb6;
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked"
        "notbooked"
        "filler";
    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

h2 {
    font-size: 20px;
}

.yogaclass {
    background-color: #fbf3e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Gotu";
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.yogaclasses-heading {
    font-family: "Raleway Light";
    font-size: 24px;
    margin-bottom: 10px;
}

.yogaclass-details {
    text-align: left;
    width: 50%;
}

.yogaclass-time {
    font-size: 16px;
}

.yogaclass-title {
    font-size: 14px;
}

.yogaclass-date {
    font-family: "Raleway";
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

.button-booked {
    background-color: #c27b49;
    border: none;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    color: rgb(232, 232, 224);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-booked-2 {
    background-color: #c27b49;
    border: none;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    color: rgb(232, 232, 224);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-booked:hover,
.button-booked-2:hover {
    background-color: #b15d22;
}

.button-booked-disabled {
    background-color: rgb(174, 167, 167);
    border: none;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    color: rgb(232, 232, 224);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-image {
    display: none;
}

@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "header header header header header header"
            "menu filler booked booked notbooked notbooked";
    }

    .item2 {
        margin-top: 45px;
        width: 220px;
    }

    .item4,
    .item3 {
        height: 500px;
        overflow-y: scroll;
    }

    .dashboard-image {
        display: block;
        width: 350px;
        height: 220px;
        object-fit: cover;
        border: 3px solid #b1782d;
        filter: grayscale(0.4);
        position: absolute;
        bottom: 150;
        left: 30;
    }
}
