.landingpage-container {
    position: relative;
}

.landingpage-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.4);
    position: absolute;
}

.landingpage-text {
    color: rgb(232, 232, 224);
    position: absolute;
    opacity: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 520px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fading-in;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
@keyframes fading-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
.landing-page-heading {
    font-size: 26px;
    text-align: center;
    font-family: "Gotu";
}

.landing-page-under-heading {
    font-size: 18px;
    text-align: center;
    font-family: "Raleway Light";
}

.landingpage-button {
    color: rgb(232, 232, 224);
    background-color: #b15d22;
    width: 180px;
    height: 40px;
    font-family: "Raleway";
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    font-size: large;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.landingpage-button:hover {
    background-color: #974e19;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .landingpage-text {
        align-items: flex-start;
        left: 290px;
        width: 450px;
    }

    .landing-page-heading {
        text-align: left;
        font-size: 32px;
    }

    .landing-page-under-heading {
        text-align: left;
    }
}
