@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fbf3e9;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccb6;
}

.session-message {
    font-size: 18px;
    font-family: "Raleway";
    z-index: 3;
    background-color: #fbf3e9;
    padding: 10px;
}

.item1 {
    grid-area: header;
}
.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}

.filler-item {
    grid-area: filler;
    width: 100px;
}
.item3 {
    grid-area: invoices;

    border: 2px solid #dcccb6;
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "invoices"
        "filler";
    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

table {
    width: 100%;
    font-family: "Raleway";
    border: 1px solid #dcccb6;
    margin: 10px 0;
}
tr {
    height: 40px;
}

th {
    font-size: 14px;
    border-bottom: 1px solid #dcccb6;
}
td {
    text-align: center;
    font-size: 14px;
}

.all-invoices {
    font-size: 28px;
    font-family: "Raleway Light";
}

.invoice-paid-button {
    background-color: #c27b49;
    border: none;
    color: rgb(232, 232, 224);
    font-size: 14px;
    font-family: "Raleway";
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "header header header header"
            "menu filler invoices invoices";
    }

    .item2 {
        margin-top: 45px;
        width: 220px;
    }

    .item3 {
        height: 500px;
        overflow-y: scroll;
    }
}
