@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    color: white;
    background-color: #403c3c;
    height: 250px;
    /*  left: 0; */
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding-top: 90px;
    font-size: 10px;
    font-family: "Raleway";
    padding-left: 2%;
    padding-right: 2%;
}

@media only screen and (min-width: 600px) {
    .footer-container {
        gap: 7rem;
        font-size: 14px;
    }
}
