@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

body {
    margin: auto;
}

footer {
    color: white;
    background-color: #403c3c;
    height: 200px;
    /*  position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding-top: 90px;
    font-size: small;
    font-family: "Raleway";
}
