.lotus-decor {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lotus {
    width: 30px;
}

/* hr {
    width: 130px;
    height: 1px;
    color: black;
    background-color: black;
    border: none;
} */

@media only screen and (min-width: 700px) {
    .lotus-decor {
        gap: 30px;
    }

    .lotus {
        width: 50px;
    }

    /*     hr {
        width: 260px;
    } */
}

@media only screen and (min-width: 1064px) {
    .lotus {
        width: 50px;
    }

    /*     hr {
        width: 500px;
    } */
}
