.memberships-image {
    width: 100%;
    height: 513px;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.5);
}

.memberships-heading {
    font-family: "Gotu";
    display: flex;
    z-index: 2;
    color: rgb(232, 232, 224);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.memberships-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.memberships-container {
    margin-top: 30px;
    width: 280px;
    height: 113px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Raleway Light";
    text-align: center;
    padding-top: 20px;
    color: rgb(232, 232, 224);
}

.membership-type {
    font-size: 18px;
    padding-bottom: 5px;
}

.membership-price {
    font-size: 14px;
    padding-bottom: 5px;
}

.membership-validation {
    font-size: 12px;
    padding-bottom: 5px;
}

.membership-end-section {
    font-family: "Raleway";
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.membership-end-section a {
    color: black;
}

@media only screen and (min-width: 768px) {
    .memberships-body {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}
