.memberships-image {
    width: 100%;

    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.5);
}

.member-heading {
    font-family: "Gotu";
    display: flex;
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: -400px;
}
