body {
    background-color: #746858;
}

.ourclasses-top-section {
    position: relative;
    text-align: center;
    height: 500px;
}

.our-classes-image {
    width: 100%;
    height: 513px;
    object-fit: cover;
    filter: brightness(0.5);
}

.our-classes-heading {
    font-family: "Gotu";
    position: absolute;
    color: rgb(232, 232, 224);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Yoga classes */

.yogaclasses-body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* .grid-items {
    background-color: aqua;
    height: 400px;
    width: 400px;
    border: 1px solid black;
} */
.yogaclasses-container {
    color: rgb(232, 232, 224);
    font-family: "Raleway Light";
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yogaclasses-container-without-lotus {
    width: 360px;
    text-align: center;
}

.yogaclass-info {
    font-size: 14px;
    /* margin-left: 30px; */
}

.our-classes-end-section {
    color: black;
    font-family: "Raleway";
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.our-classes-end-section a {
    color: black;
}

.our-classes-hr {
    margin: 40px;
    width: 80%;
}
@media only screen and (min-width: 768px) {
    /* .yogaclasses-container-without-lotus {
        display: flex;
        flex-wrap: wrap;
    } */

    /* .yogaclasses-container {
        display: none;
    } */

    .yogaclasses-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media only screen and (min-width: 1064px) {
    .our-classes-hr {
        margin: 40px;
        width: 130%;
    }
}
