body {
    background-color: #746858;
}

.our-products-image {
    width: 100%;
    height: 513px;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.5);
}

.our-products-heading {
    font-family: "Gotu";
    display: flex;
    position: absolute;
    z-index: 2;
    color: rgb(232, 232, 224);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.product-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 180px;
    margin-top: 150px;
}

.product-single-box {
    width: 325px;
    height: 475px;
    border: 1px solid black;
    text-align: center;
}

.product-name {
    font-family: "Gotu";
    color: rgb(232, 232, 224);
}

.product-price {
    font-family: "Raleway Light";
    color: rgb(232, 232, 224);
}

.box-brightness-small {
    width: 325px;
    height: 80px;
    margin-top: 395px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
}

.our-products-end-section {
    font-family: "Raleway";
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.our-products-end-section a {
    color: black;
}
