body {
    background-color: #746858;
}

.our-products-image {
    width: 100vw;
    height: 513px;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.5);
}

.our-products-heading {
    font-family: "Gotu";
    display: flex;
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: -400px;
}

.product-boxes {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    gap: 20px;
    margin-bottom: 300px;
    margin-top: 89px;
}
.product-single-box {
    width: 401px;
    height: 561px;
    left: 89px;
    border: 1px solid black;
}
