@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fbf3e9;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccb6;
}

.filler-item {
    grid-area: filler;
    width: 100px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}

.item3 {
    grid-area: booked;
    border: 2px solid #dcccb6;
    margin: 50px;
    max-width: 500px;
}

.item4 {
    grid-area: notbooked;
    border: 2px solid #dcccb6;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.session-message {
    font-size: 18px;
    font-family: "Raleway";
    z-index: 3;
    background-color: #fbf3e9;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked"
        "notbooked"
        "filler";

    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

.payments-heading {
    font-family: "Raleway Light";
    font-size: 24px;
    margin-bottom: 10px;
}

.invoice {
    background-color: #fbf3e9;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Gotu";
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.invoice:hover {
    background-color: #f6d9b4;
}

.invoice a {
    text-decoration: none;
    color: black;
}

.invoice-header p {
    font-size: 40px;
    font-family: "Gotu";
}

.invoice-header,
.invoice-contact,
.invoice-sub-header,
.invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    text-align: left;
    font-size: 12px;
    font-family: "Raleway";
    margin-top: 15px;
}

.invoice-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65%;
    gap: 20px;
    background-color: #fbf3e9;
    padding: 10px;
    font-family: "Raleway";
}

.invoice-details-one {
    text-align: right;
}

.invoice-details-two {
    text-align: left;
}

hr {
    border: 1px solid rgb(235, 232, 232);
}

.invoice-table {
    width: 100%;
    font-family: "Raleway";
    border: 1px solid #dcccb6;
    margin: 10px 0;
}

th {
    font-size: 14px;
    border-bottom: 1px solid #dcccb6;
}

td {
    text-align: center;
    font-size: 12px;
}

.invoice-total-one {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.invoice-total-two {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.invoice-preview {
    width: 80%;
}

@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "header header header header header header"
            "menu filler booked booked notbooked notbooked";
    }

    .item2 {
        margin-top: 45px;
        width: 220px;
    }

    .item3 {
        height: 500px;
        overflow-y: scroll;
    }
}
