@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

.item1 {
    grid-area: header;
}
.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}
.item3 {
    grid-area: booked;

    border: 3px solid #dcccb6;
    margin: 50px;
}
.item4 {
    grid-area: notbooked;

    border: 3px solid #dcccb6;
    margin: 50px;
}

.item5 {
    grid-area: empty;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked"
        "notbooked";

    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

h2 {
    font-size: 20px;
}

@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "menu header header header header"
            "menu booked booked notbooked notbooked"
            "menu empty empty empty empty";
    }
}

.invoice-preview {
    border: 3px solid black;
    padding: 50px;
    width: 700px;
}
