@font-face {
    src: url("/fonts/NunitoSans-Regular.woff");
    font-family: "Raleway";
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

@font-face {
    src: url("/fonts/Gotu-Regular.woff");
    font-family: "Gotu";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fbf3e9;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccb6;
}

.profile-heading {
    font-family: "Raleway Light";
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-info,
.balance {
    background-color: #fbf3e9;
    text-align: left;
    padding: 20px;
    font-family: "Gotu";
    font-size: 14px;
    margin: 20px;
}

.contact-info {
    font-size: 16px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.created-membership {
    background-color: #fbf3e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Gotu";
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.created-title {
    font-size: 18px;
    font-weight: bolder;
}
.created-price {
    font-size: 14px;
}
.filler-item {
    grid-area: filler;
    /* background-color: rgb(147, 80, 80); */
    width: 100px;
}

.item1 {
    grid-area: header;
}
.item2 {
    grid-area: menu;
    background-color: #dcccb6;
}
.item3 {
    grid-area: booked;
    border: 2px solid #dcccb6;
    margin: 50px;
}
.item4 {
    grid-area: notbooked;
    border: 2px solid #dcccb6;
    margin: 50px;
}

/* .item5 {
    grid-area: empty;
    color: rgb(232, 232, 224);
} */

.grid-container {
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "booked"
        "notbooked"
        "filler";
    padding-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

.button-buy,
.button-edit-contact {
    background-color: #c27b49;
    border: none;
    color: rgb(232, 232, 224);
    font-size: 14px;
    font-family: "Raleway";
    padding: 5px 10px;
    border-radius: 5px;
}

.button-buy:hover,
.button-edit-contact:hover {
    background-color: #b15d22;
    cursor: pointer;
}

@media screen and (min-width: 1040px) {
    .grid-container {
        grid-template-areas:
            "header header header header header header"
            "menu filler booked booked notbooked notbooked";
    }
    .item2 {
        margin-top: 45px;
        width: 220px;
    }

    .item4 {
        height: 500px;
        overflow-y: scroll;
    }

    .profile-image {
        display: block;
        width: 350px;
        height: 220px;
        object-fit: cover;
        border: 3px solid #b1782d;
        filter: grayscale(0.4);
        position: absolute;
        bottom: 150;
        left: 30;
    }
}
