/*--- MOBILE ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url("/fonts/NunitoSans-ExtraLight.woff");
    font-family: "Raleway Light";
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #746858;
    transition: 0.4s;
    z-index: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: rgb(232, 232, 224);
}

.shorter-nav {
    height: 4rem;
}

nav li a {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: white;
    font-family: "Raleway Light";
    font-size: 18px;
}

li {
    list-style-type: none;
}

nav div {
    display: none;
}

.nav-items {
    display: none;
    text-align: center;
}

.nav-items-show {
    text-align: center;
}

/*--- Desktop ---*/

@media screen and (min-width: 1040px) {
    nav {
        height: 3.5rem;
        padding: 1.5rem 4rem;
    }

    nav svg {
        display: none;
    }

    nav div {
        display: flex;
        gap: 15px;
    }

    div li {
        margin-left: 2rem;
    }

    .nav-items {
        display: none;
    }
    .nav-items-show {
        display: none;
        text-align: center;
    }
}
