.side-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #dcccb6;
    padding-top: 50px;
    color: white;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}

.side-nav a {
    color: #4a4136;
    text-decoration: none;
    font-family: "Raleway";
}

.side-nav a:hover {
    font-weight: bolder;
    font-size: 14px;
}

@media screen and (min-width: 1040px) {
    .side-nav {
        width: 230px;
        height: 80vh;
        padding-top: 100px;
        text-align: left;
        padding-right: 70px;
    }
}
